.formation {
  text-align: center;
}

.duo-formation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.duo-formation p {
  margin: unset;
}

#forma {
  margin: 5% 0% 0% 0%;
}

#le-wagon {
  width: 10vw;
  border-radius: unset;
  margin-top: unset;
  margin-left: unset;
  height: unset;
}

#o-clock-logo{
  width: 10vw;
  border-radius: unset;
  margin-top: unset;
  margin-left: unset;
  height: unset;
}
