.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.socialLinks {
  display: flex;
}

#picture {
  border-radius: 5%;
  margin: 5% 5%;
  height: 25vh;
}

a {
  margin-left: 30%;
  color: #80AF9B;
}
