.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerName {
  margin-left: -20%;
}

.socialLinks {
  display: flex;
  margin-left: -20%;
}

.line{
  
}

a {
  margin-left: 30%;
  color: #80af9b;
}

#picture {
  border-radius: 5%;
  margin-top: 5%;
  margin-left: -5%;
  height: 25vh;
}
