h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}

a,
li,
p {
  font-family: 'Poppins', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home p {
  margin: 0 0 0 0;
  white-space: break-spaces;
}

.welcome {
  margin-top: 5%;
  margin-bottom: 15%;
  position: relative;
}

.home-nav-links {
  display: flex;
  align-items: baseline;
}

.igloo {
  margin: 2% 0% 0% 5%;
  color: #fafaeb;
  transition: 0.3s;
  cursor: pointer;
}

.igloo:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

#resume {
  text-decoration: none;
  color: #000000;
}

#resume:hover {
  color: #00000052;
  transition: 0.3s;
  /* transform: translateY(10px);    <-----   just to keep a reminder on how to do     */
}

#new-feature{
  opacity: 0.4;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}}
